<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand"
       [routerLink]="['']">NGRX</a>

    <div id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex flex-row">
            <a class="nav-item nav-link"
               [routerLink]="['/products/list']"
               routerLinkActive="active">Products</a>
               <a class="nav-item nav-link ml-3"
               [routerLink]="['/jokes/jokes']"
               routerLinkActive="active">Jokes List</a>

        </div>
    </div>
</nav>