<div class="jumbotron mt-4">
<h1 class="display-4">NGRX</h1>
<img class="img-fluid" src="https://d33wubrfki0l68.cloudfront.net/180302337b452ebb10e3de72447590812232b079/61ef5/assets/post_headers/ngrx_best_practices_header.png" alt="">
<p><a target="blank"
      href="https://wesleygrimes.com/angular/2018/05/30/ngrx-best-practices-for-enterprise-angular-applications">Best Practices on NGRX for enterprise applications</a>
</p>
<p ><a target="blank"
href="https://www.youtube.com/channel/UCqtKLBlLNC2Qn-ZfRPaFRZQ">Course on youtube on how to implemet Products Project</a>
</p>
<p ><a target="blank"
      href="https://stackblitz.com/edit/angular-ngrx-chuck-norris">Code Example Products Chuck Norris API Project(Angular docs)</a>
</p>

<p><a target="blank"
href="https://ngrx.io/docs">NGRX Docs</a>
</p>

<p><a target="blank"
      href="https://github.com/ernestojballon/ngrx-example">Github</a>
</p>

<hr class="my-4">
      <a class="btn btn-primary btn-lg"
      [routerLink]="['products/list']"
      role="button">View All Products</a>
      <a class="btn btn-primary btn-lg ml-5"
      [routerLink]="['jokes/jokes']"
      role="button">View Jokes</a>
</div>
<app-course-list></app-course-list>